In [56]:
# Question 1

ages = [19,22,19,24,20,25,26,24,25,24]

#Sort the given list Ages, values will re-arrranged in ascendng order
ages.sort()

#Print the Sorted Order List
print('Sorted Order of 10 Student Ages:', ages)

#Find Minimum Age in the list
minimum_age = min(ages)
print('Minimum age among the students age list is:',minimum_age)

#Find Maximum Age in the list
maximum_age = max(ages)
print('Maximum age among the students age list is:',maximum_age)

#Add min and maximum to the list
ages.extend([minimum_age, maximum_age])
ages.sort()
print('After addition of Min age and Max age the Student List is', ages)

Sorted Order of 10 Student Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age among the students age list is: 19
Maximum age among the students age list is: 26
After addition of Min age and Max age the Student List is [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [57]:
#Call median function to calculate median value

#Calculate length of ages
n = len(ages)

#Check for even/odd value 
if n % 2 == 0:
    median1 = ages[n//2]
    median2 = ages[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = n_num[n//2]
print("The Median is: " + str(median))

# Calculate Average
def Average(ages):return sum(ages) / len(ages)
avg_val = Average(ages)
print('The Average value of the students age list is:',avg_val)

#Calculate Range of the List
range_val = maximum_age - minimum_age
print('The Range value of the student list is:',range_val)

The Median is: 24.0
The Average value of the students age list is: 22.75
The Range value of the student list is: 7

In [58]:
#Question 2

#Empty dictionary of dog
dog = {}

#Adding key and values to empty dictionary
dog["name"]  = "puppy" 
dog["color"] = "brown"
dog["breed"] = "Lab"
dog["legs"]  = "4"
dog["age"]   = "2 Years"
print('The dog\'s' ' list -', dog)

#Student dictionary
student = {
          'first_name':'Jason',
          'Last_name': 'Roy',
          'gender':'male', 'age': '24',
          'martial status':'single',
          'skills': ['Python, ABAP, C++, React'],
          'country':'USA',
          'city':'Overland Park',
          'address':{'1441 West, 140 street, Apt 101' } 
           }

print('\nThe Student dictionary details - ',student)

#Length of student Dictionary
print('\nThe length of student dictionary is -',len(student))

#Get the value to skills
print('\nValue of key skills is -',student['skills'])

#Get the Data type of skill
skill_type = type(student['skills'])
print('\nThe type is:',skill_type)

#Append new skills to key - skills 
student['skills'].append(['Java','Node'])
print('\nTotal Students skills set is -',student['skills'])

#Get all Keys of dictionary as a list
print('\nDictionary Key - ',student.keys())

#Get all values of dictionary as a list
print('\nDictionary values - ',student.values())

The dog's list - {'name': 'puppy', 'color': 'brown', 'breed': 'Lab', 'legs': '4', 'age': '2 Years'}

The Student dictionary details -  {'first_name': 'Jason', 'Last_name': 'Roy', 'gender': 'male', 'age': '24', 'martial status': 'single', 'skills': ['Python, ABAP, C++, React'], 'country': 'USA', 'city': 'Overland Park', 'address': {'1441 West, 140 street, Apt 101'}}

The length of student dictionary is - 9

Value of key skills is - ['Python, ABAP, C++, React']

The type is: <class 'list'>

Total Students skills set is - ['Python, ABAP, C++, React', ['Java', 'Node']]

Dictionary Key -  dict_keys(['first_name', 'Last_name', 'gender', 'age', 'martial status', 'skills', 'country', 'city', 'address'])

Dictionary values -  dict_values(['Jason', 'Roy', 'male', '24', 'single', ['Python, ABAP, C++, React', ['Java', 'Node']], 'USA', 'Overland Park', {'1441 West, 140 street, Apt 101'}])

In [59]:
#Question 3
#Tuple's holding names of Brother
bro_tpl = ('Johnson', 'Holder')
print('tuple with names of brother -',bro_tpl)

#Tuple's holding names of Sister
sis_tpl = ('Laura', 'Emiley')
print('tuple with names of sister -',sis_tpl)

#Joining tuples to form siblings tuple
sib_tpl = bro_tpl + sis_tpl
print('Siblings tuple is -',sib_tpl)

#Length of siblings tuple
print('Total number of siblings I have is - ',len(sib_tpl))

#Add father and mother names to the tuple, Since Tuple is immutable,changing 
#tuple to list and adding father and mother and converting back to tuple
fam_list = list(sib_tpl)
fam_list.append('Abraham')
fam_list.append('Ross')
family_members = tuple(fam_list)
print('Names of all family members - ',family_members)

tuple with names of brother - ('Johnson', 'Holder')
tuple with names of sister - ('Laura', 'Emiley')
Siblings tuple is - ('Johnson', 'Holder', 'Laura', 'Emiley')
Total number of siblings I have is -  4
Names of all family members -  ('Johnson', 'Holder', 'Laura', 'Emiley', 'Abraham', 'Ross')

In [60]:
#Question4

#Get the length of set
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print('The length of set it_companies is - ',len(it_companies))

#Add a value to the it_companies set
it_companies.add('Twitter')
print('\nSet of it_companies after addition -', it_companies)

#Insert multiple IT companies to the set
it_companies.update(['Tesla','BMW','Toyota','Benz'])
print('\nNew set of it_companies after inserting -', it_companies)

#Remove one of the item from the set
it_companies.remove('Oracle')
print('\nNew set of it_companies after removal of an item -', it_companies)

The length of set it_companies is -  7

Set of it_companies after addition - {'Google', 'IBM', 'Oracle', 'Twitter', 'Amazon', 'Facebook', 'Microsoft', 'Apple'}

New set of it_companies after inserting - {'Tesla', 'Amazon', 'Microsoft', 'Apple', 'IBM', 'Facebook', 'BMW', 'Google', 'Benz', 'Twitter', 'Toyota', 'Oracle'}

New set of it_companies after removal of an item - {'Tesla', 'Amazon', 'Microsoft', 'Apple', 'IBM', 'Facebook', 'BMW', 'Google', 'Benz', 'Twitter', 'Toyota'}

In [37]:
#Remove an item which is not in the set
#The remove method raises an error when the specified element doesn't exist in the given set
it_companies.remove('one_plus')

KeyError: 'one_plus'

In [38]:
#Remove an item which is not in the set
#The discard() method doesn't raise any error if the specified 
#element is not present in the set and the set remains unchanged.
it_companies.discard('ABC')
print('New set of it_companies after removal of an item using discard -', it_companies)

New set of it_companies after removal of an item using discard - {'Tesla', 'Amazon', 'Microsoft', 'Apple', 'IBM', 'Facebook', 'BMW', 'Google', 'Benz', 'Twitter', 'Toyota'}

In [61]:
#Join two given sets
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

#Combining two sets into one
union_AB = A.union(B)
print('union of A and B -', union_AB)

#Common items between to sets
intersection_AB = A.intersection(B)
print('intersection of A and B -', intersection_AB)

#Check if is A subset of B
print('Is A subset of B -',A.issubset(B))

#Check if A and B sets are disjoint sets
print('Are A and B disjoint sets -',A.isdisjoint(B))

#Join A with B 
A_with_B = A.union(B)
print('Join of A with B -',A_with_B)

#Join B with A
B_with_A = B.union(A)
print('Join of B with A -',B_with_A)

#the symmetric difference between A and B
sym_dif_AB = A.symmetric_difference(B)
print('The symmetric difference between A and B is -',sym_dif_AB)

union of A and B - {19, 20, 22, 24, 25, 26, 27, 28}
intersection of A and B - {19, 20, 22, 24, 25, 26}
Is A subset of B - True
Are A and B disjoint sets - False
Join of A with B - {19, 20, 22, 24, 25, 26, 27, 28}
Join of B with A - {19, 20, 22, 24, 25, 26, 27, 28}
The symmetric difference between A and B is - {27, 28}

In [62]:
#Delete the Sets A and B Completely
del A
del B

print(A)

NameError: name 'A' is not defined

In [63]:
print(B)

NameError: name 'B' is not defined

In [64]:
#Convert list to set
age = [22, 19, 24, 25, 26, 24, 25, 24]

#Calculate length of List
len_age_list = len(age)

#Convert List to set
age_set = set(age)

#Calculate length of set
len_age_set = len(age_set)

#Print length of Age List and Age set
print('the length of age list:',len_age_list)
print('the length of age set:',len_age_set)

#Print the converted set of age
print('The set of ages -',age_set)

#compare the length of the list and the set
print('On comparing length of list and set -',len_age_list == len_age_set)

the length of age list: 8
the length of age set: 5
The set of ages - {19, 22, 24, 25, 26}
On comparing length of list and set - False

In [65]:
#Question 5

#Calculate area of circle
from math import pi
radius = 30

#Perform math cal to determine area of circle
area_of_circle = pi * radius ** 2
print('the area of circle is:',area_of_circle)

#Calculate circumference of cicle
circum_of_circle = 2 * pi * radius
print('the circumference of circle is:',circum_of_circle)

the area of circle is: 2827.4333882308138
the circumference of circle is: 188.49555921538757

In [66]:
#Take radius as user input and calculate the area
import math as M

#Take input from the user
radius = float(input('please enter the value of radius:'))

#Calculate radius
area_of_the_circle = pi * radius ** 2

#print radius
print('the area of circle is:',area_of_the_circle)

please enter the value of radius:30
the area of circle is: 2827.4333882308138

In [67]:
#Question 6
#Calcualte number of unique words used

sentence = ('I am a teacher and I love to inspire and teach people')

#spilt the sentence into words
splitted_sentence = sentence.split()

#convert divided words into set
wrd_set_of_sentence = set(splitted_sentence)

print('the unique words of sentence',wrd_set_of_sentence)
#calculate length of set
print('Total number of unique words in the sentence:',len(wrd_set_of_sentence))

the unique words of sentence {'a', 'inspire', 'people', 'am', 'teach', 'and', 'I', 'teacher', 'to', 'love'}
Total number of unique words in the sentence: 10

In [68]:
#Question 7
#Using tab escape sequence to get the following lines.
heading = 'Name\t\tAge\tCountry\tCity'
values = 'Asabeneh\t250\tFinland\tHelsinki'
print(heading)
print(values)

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [69]:
#Question 8
#Use the string formatting method to display the output
radius = 10
area = 3.14 * radius ** 2

#String format of displaying output
output = '“The area of a circle with radius {} is {} meters square.”'.format(str(radius),str(area))
print('string format:',output)

string format: “The area of a circle with radius 10 is 314.0 meters square.”

In [70]:
#Question 9
#convert weights to kilograms --># 1 Lb = 0.453592 Kg
# using an empty list
student_weights_lbs_lst = []
student_weights_kgs_lst = []
  
# number of elements as user input
n = int(input("Enter number of students and their weights in lbs : "))
  
# looping till the range
for i in range(0, n):
    user_inputs = int(input())
  
    student_weights_lbs_lst.append(user_inputs) # adding the element
      
    lbs = float(user_inputs)
    kilo_grams = lbs * 0.453592
    student_weights_kgs_lst.append(kilo_grams)
print('The student weights in lbs are:',student_weights_lbs_lst)
print('The student weights in kgs respectively are:',student_weights_kgs_lst)

Enter number of students and their weights in lbs : 4
150
155
145
148
The student weights in lbs are: [150, 155, 145, 148]
The student weights in kgs respectively are: [68.0388, 70.30676, 65.77083999999999, 67.131616]

In [71]:
#Question 10

#Import required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

#Defining 2 classes x and y from the given data set
data_points = [[1,0],[2,0],[3,1],[6,1],[6,1],[7,0],[10,0],[11,0]]
x = [[1],[2],[3],[6],[6],[7],[10],[11]]
y = [0,0,1,1,1,0,0,0]

# divide the data equally for training and testing
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.5, random_state=33)

#Print the train and test data
print('The train and test data are:',x_train, x_test, y_train, y_test)

The train and test data are: [[7], [3], [1], [6]] [[10], [11], [6], [2]] [0, 1, 0, 1] [0, 0, 1, 0]

In [72]:
#Using KNN classifer for K = 3 predicting output of the test samples 

classifier = KNeighborsClassifier(n_neighbors=3,p=2,metric='euclidean')
classifier.fit(x_train, y_train)
y_test_pred = classifier.predict(x_test)
print('predicted output for test samples',y_test_pred)

predicted output for test samples [1 1 1 1]

In [51]:
# Calculate the confusion matrix
con_mat = confusion_matrix(y_test, y_pred)
print('The confusion matrix is:',con_mat)

The confusion matrix is: [[0 3]
 [0 1]]

In [52]:
#calculate accuracy, sensitivity and specificity values.

T_P = con_mat[0][0]
T_N = con_mat[1][1]
F_P = con_mat[1][0]
F_N = con_mat[0][1]

Accuracy = (T_P+T_N)/4
print('The calculated accuracy is:',Accuracy)

# Calculating sensitivity
Sensitivity  = T_P/(T_P+F_N)
print('The calculated sensitivty:',Sensitivity)

#Calculated Specificity
Specificity = T_N/(F_P+T_N)
print('The calculate specificty:',Specificity)

The calculated accuracy is: 0.25
The calculated sensitivty: 0.0
The calculate specificty: 1.0